anyio==3.5.0
AnyQt==0.0.13
appdirs==1.4.4
asgiref==3.4.1
asttokens==2.0.5
audioread==2.1.9
backcall==0.2.0
baycomp==1.0.2
black==21.12b0
blis==0.7.5
Bottleneck==1.3.2
CacheControl==0.12.10
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
cymem==2.0.6
debugpy==1.5.1
decorator==5.1.1
dictdiffer==0.9.0
Django==4.0.1
docutils==0.18.1
entrypoints==0.3
et-xmlfile==1.1.0
executing==0.8.2
Flask==2.0.2
fonttools==4.28.5
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
idna==3.3
imageio==2.13.5
importlib-metadata==4.10.0
ipykernel==6.7.0
ipython==8.0.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
keyring==23.5.0
keyrings.alt==4.1.0
kiwisolver==1.3.2
langcodes==3.3.0
librosa==0.8.1
llvmlite==0.38.0
lockfile==0.12.2
mahotas==1.4.12
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
msgpack==1.0.3
murmurhash==1.0.6
mypy-extensions==0.4.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.6.7
numba==0.55.0
numpy==1.21.5
opencv-contrib-python==4.5.5.62
openpyxl==3.0.9
openTSNE==0.6.1
orange-canvas-core==0.1.24
orange-widget-base==4.16.1
Orange3==3.31.1
packaging==21.3
pandas==1.3.5
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
pickleshare==0.7.5
Pillow==9.0.0
platformdirs==2.4.1
pooch==1.5.2
preshed==3.0.6
prompt-toolkit==3.0.24
pure-eval==0.2.1
PyBrain==0.3
pycparser==2.21
pydantic==1.8.2
Pygments==2.11.2
pyparsing==3.0.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.8.2
python-louvain==0.15
pytz==2021.3
PyWavelets==1.2.0
pywin32==303
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==22.3.0
qasync==0.22.0
qtconsole==5.2.2
QtPy==2.0.0
regex==2021.11.10
requests==2.27.1
resampy==0.2.2
rfc3986==1.5.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
serverfiles==0.3.1
SimpleCV==1.3
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
SoundFile==0.10.3.post1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
sqlparse==0.4.2
srsly==2.4.2
stack-data==0.1.3
thinc==8.0.13
threadpoolctl==3.0.0
tifffile==2021.11.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typer==0.4.0
typing_extensions==4.0.1
tzdata==2021.5
urllib3==1.26.8
wasabi==0.9.0
wcwidth==0.2.5
Werkzeug==2.0.2
xlrd==2.0.1
XlsxWriter==3.0.2
zipp==3.7.0
